/* .heart-container {
  display: flex;
  gap: 10px;
} */

.heart-icon {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.heart-icon:hover {
  transform: scale(1.1);
}

.heart {
  width: 40px;
  height: 40px;
  stroke: red;
  stroke-width: 2;
  fill: transparent;
  transition: fill 0.3s ease-in-out;
}

.heart.filled {
  fill: red;
}
